@font-face {
	font-family: RobotoCondensed;
	 src: url("assets\fonts\RobotoCondensed-Regular.ttf");
   }
* {
    box-sizing: border-box;
  }
  html {
	scroll-behavior: smooth; 
  }
body {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
  }
  h1 {
	  font-size: 30px;
  }
  h2 {
	  font-size: 25px;
	  text-align: center;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .header {
	  background-color: black;
	 
	  
  }
  .nav {
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-end;
	  align-items: center;
	  list-style: none;
  }
  .nav-list {
	  padding: 0 15px;
	  line-height: 50px;
	  text-decoration: none;
	  color:blanchedalmond;
	  
  }
  .nav-list:hover {
	  text-decoration: underline;
	
  }
  .main {
	max-width: 1440px;
	margin: 0 auto;
	  display: flex;
	  flex-direction: row;
  }
  .aside-main {
	  width: 400px;
	  height: 1100px;
	  padding: 0px;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
	  background-color: grey;
  }
  .avatar {
	  width: 300px;
	  height: auto;
	  margin: 50px;
  }
  .section-main {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;	
	  align-items: baseline;
  }
  section {
	  width: 50%;
	  
  }
  .code-example {
	  font-size: 14px;
	  
  }
  .contact-list {
	  list-style: none;
  }
  .contact-link {
	  margin: 5px;
	  text-decoration: none;
	  padding: 0 10px;
      line-height: 40px;
	  color:black ;
  }
  .contact-link:hover {
	text-decoration: underline;
  }
  .footer {	  
	  background-color: black;
  }
  .footer-style {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
    margin: 0 auto;

	color:blanchedalmond;
  }
  .git-link {
	line-height: 60px;
	text-decoration: none;
	color: blanchedalmond;
  }
  .git-link:hover {
	  text-decoration: underline;
  }

  .rss {
	width: 121px;
  }
